.journals-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.journal-container {
  z-index: 1;
  perspective:3000px;
}

.journal-container .book {
  position: relative;
  display: block;
  width: 300px;
  height: 450px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: #38b6ffe1;
  font-family: acumin-pro, sans-serif;
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.journal-container .book:hover {
  transform: rotate3d(0,1,0,10deg);
}

.journal-container .book > div,
.journal-container .front > div {
  display: block;
  position: absolute;
}

.journal-container .front {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: transform .5s;
  transform: translate3d(0,0,10px);
  z-index: 10;
}

.journal-container .front > div {
  width: 300px;
  height: 450px;
}

.cover .num-up{
  width: 200px;
  position: absolute;
  top: 64px;
  left: 47px;
  line-height: 25px;
}

.cover .author{
  position: absolute;
  top: 400px;
  right: 50px;
  }

.journal-container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.journal-container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.journal-container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover {
 background: #38b6ffe1;
}

