.text-white {
    margin: 0;
    padding: 0;
}

.ck-editor__main {
    > div {
        min-height: 200px !important;
    }
}

.upper-group {
    justify-content: space-between;
    display: flex;
}

<<<<<<< HEAD
.save-button {
    margin: 16px 0 0 0;
=======
.go-to-journal {
    text-decoration: none;
    color: white;
    background-color: #17a2f9;
    :hover {
        text-decoration: none;
        color: white;
        background-color: #17a2b8;
    }
>>>>>>> 4266c4e7745c4f73b81803d597d575d02ecf07ba
}

$editor-padding: 12px 16px;

.card-body {
    padding: $editor-padding;
}

.card-header {
    padding: $editor-padding;
}
<<<<<<< HEAD
=======

.btn-container-save-preview {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-date {
    display: grid;
    text-align: end;
}
>>>>>>> 4266c4e7745c4f73b81803d597d575d02ecf07ba
