body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.error-msg {
    color: #d9534f !important;
    font-size: 12px !important;
}
