footer {
    color: #fff;
    background-color: #333;
    overflow: auto;
}

.social-icons-container {
    height: 40px;
    width: 218px;
    margin: 19px auto 0;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    position: relative;
}

.social-icons-container img {
    width: 40x;
    height: 40px;
}

footer hr {
    width: 80%;
    min-width: 340px;
    max-width: 1140px;
    opacity: 0.5;
    margin: 21px auto 0 auto;
}

.footer-text {
    margin: 21px auto 19px;
    text-align: center;
    word-wrap: break-word;
    position: relative;
}

@media only screen and (min-width: 571px)  {
    .footer-text {
        width: 530px;
    }
}

@media only screen and (max-width: 570px)  {
    .footer-text {
        width: 340px;
    }
}