@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Handlee);

body {
    font-family: 'Roboto', sans-serif;
}

.popup {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup > div {
    height: 150px;
    width: 350px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #fff;
    padding: 30px;
    z-index: 5001;
    text-align: center;
    border: 5px solid #9ad3de;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.popup button {
    background: #9ad3de;
    border: 0;
    border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.popup button:focus {
    outline: none;
}

.popup button:hover {
    background: #c0e4eb;
}

.show {
    display: block !important;
}

.journals-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 80%;
    margin: 0 auto;
}

.journal-container {
    border: 1px solid black;
    grid-gap: 24px;
    padding: 16px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    word-break: break-word;
}

.journal-container:hover {
    transform: scale(1.05);
}

.single-journal-container {
    display: grid;
    place-items: center;
}

.journal-cover {
    width: 90%;
    max-width: 650px;
    min-width: 350px;
    height: 750px;
    border-radius: 5px 15px 15px 5px;
    transform-origin: left center 0px;
    display: inline-block;
    margin: 30px;
    perspective: 800px;
    background: #2e95aa;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.journal-cover:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 752px;
    top: -1px;
    z-index: 100;
    border-radius: 2px;
    right: 25px;
    background: linear-gradient(
        to right,
        #1e606e 0%,
        #2e95aa 12%,
        #1e606e 25%,
        #2e95aa 37%,
        #1e606e 50%,
        #2e95aa 62%,
        #1e606e 75%,
        #2e95aa 87%,
        #1e606e 100%
    );
}

.journal-detail {
    height: 150px;
    background: #e8e8e0;
    margin-top: 80px;
    padding: 15px;
    font-size: 24px;
    position: relative;
    z-index: 10;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.journal-detail:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    bottom: 0;
    background: #cddc39;
}

.journal-detail input {
    display: block;
    background: none;
    font: inherit;
    border: none;
    color: #222;
}

.journal-detail input[type='text'] {
    width: 550px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
    width: 75px;
    margin-top: 45px;
}

.journal-detail input:focus {
    outline: none;
}

.bottom-border {
    border-bottom: 2px solid #222 !important;
}

.journal-detail .btn {
    width: 45px;
    height: 45px;
    background: none;
    border: 2px solid;
    border-radius: 23px;
    font: inherit;
    margin: 0;
    text-align: center;
    transition: 0.25s;
    cursor: pointer;
}

.journal-detail div.btn {
    width: 41px;
    height: 41px;
    line-height: 41px;
}

.edit {
    color: #38b6ff;
    position: absolute;
    bottom: 30px;
    right: 120px;
    z-index: 1;
}

.edit:hover,
.edit:focus {
    box-shadow: #38b6ff inset 65px 0 0 0;
    color: #e8e8e0;
    border-color: #38b6ff;
}

.edit i {
    position: absolute;
}

.edit i.fa-edit {
    top: 8.5px;
    left: 8.5px;
    opacity: 1;
    transition: all 0.5s ease;
}

.edit i.fa-close {
    top: 7.5px;
    left: 11.5px;
    opacity: 0;
    transition: all 0.5s ease;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
}

.save {
    color: #66c887;
    font-size: 16px !important;
    position: absolute;
    bottom: 30px;
    right: 120px;
    opacity: 0;
    z-index: 0;
}

.save:hover,
.save:focus {
    box-shadow: #66c887 inset 65px 0 0 0;
    color: #e8e8e0;
    border-color: #66c887;
}

.delete {
    color: #ff7f82;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.delete:hover,
.delete:focus {
    box-shadow: #ff7f82 inset 65px 0 0 0;
    color: #e8e8e0;
    border-color: #ff7f82;
}

.slide-out {
    transform: translateX(-60px);
    opacity: 1 !important;
    transition: transform 1.5s ease-in-out;
}

.diaries-container {
    position: absolute;
    top: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.diary-link {
    width: 100%;
    height: 100%;
    position: absolute;
}

.paper {
    position: relative;
    width: 90%;
    max-width: 800px;
    min-width: 400px;
    height: 120px;
    margin: 0 auto;
    background: #fafafa;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.paper:hover {
    transform: rotateY(-6deg) rotateZ(-2deg) scale(1.025);
    transition: transform 0.3s ease-out;
    background: #e5edf1;
}

.paper:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #d44147;
    box-sizing: border-box;
}

.lines {
    margin-top: 30px;
    height: calc(100% - 30px);
    width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    background-image: repeating-linear-gradient(
        transparent 0px,
        transparent 24px,
        #91d1d3 28px
    );
    padding-left: 60px;
}

.paper-content {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.paper-content text {
    display: block;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    background: transparent;
    color: #222;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 18px;
}

.date {
    text-align: right;
}

.content {
    text-align: left;
}

.add-button-container {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 35px;
    bottom: 35px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
    background-color: #FFEB3B;
    z-index: 5000;
}

.add-button-container:hover {
    background-color: #f1df38;
}

.add-button-container a i {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}