.container {
    position: relative;
    max-width: 460px;
    width: 100%;
    margin: 0 auto 100px;
}

section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(216, 216, 216);
}

label {
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-header {
    position: relative;
    z-index: 1;
    border-left: 5px solid #38b6ffe1;
    margin: 10 10 35px;
    padding: 0px 10px 15px 50px;
    color: #38b6ffe1;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .row-mb-3 {
    position: relative;
    margin: 0 70px 25px;
}

.card .row-mb-3 input[type='text'],
input[type='email'],
input[type='password'] {
    outline: none;
    z-index: 1;
    position: relative;
    background: #e8f0fe;
    width: 100%;
    height: 40px;
    border: 0;
    color: #454343;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50px;
    text-indent: 20px;
    border: 2px solid #969492;
}

.card .row-mb-3 input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
    border-color: #0da6fee1;
}

.card .row-mb-3 select {
    outline: none;
    z-index: 1;
    position: relative;
    background: #e8f0fe;
    width: 100%;
    height: 40px;
    border: 0;
    color: #454343;
    font-size: 24px;
    font-weight: 400;
    border-radius: 50px;
    text-indent: 20px;
    border: 2px solid #969492;
}

.card .row-mb-3 select:focus {
    border-color: #0da6fee1;
}

.card {
    position: relative;
    background: url('https://i.pinimg.com/564x/19/0c/d8/190cd84a7e5c6866dd0a7232e7608b64.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    border-radius: 5px;
    padding: 25px 0 20px 0;
    box-sizing: border-box;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
    border-style: ridge;
}
.card:first-child {
    background: #ffffff;
    background: url('https://i.pinimg.com/564x/19/0c/d8/190cd84a7e5c6866dd0a7232e7608b64.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 40px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.3s ease;
    padding: 0;
    border-style: ridge;
    border-bottom: none;
}

.disabledOption {
    color: #999;
}

.buttonContainer {
    display: flex;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonContainer button {
    display: flex;
    background: #38b6ffe1;
    overflow: hidden;
    padding: 20px 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: var(--borderRadius);
    font-size: 18px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px var(--color-smoke);
}
.buttonContainer button:hover,
.buttonContainer button:active,
.buttonContainer button:focus {
    background: #0da6fee1;
}

.form-check {
    padding: 0px 40px;
}

.card .row-mb-3 input[type='checkbox']:before {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #808080;
    content: '';
    background: #fff;
}

.card .row-mb-3 input[type='checkbox']:after {
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #b3b3b3 #dcddde #dcddde #b3b3b3;
    content: '';
    background-image: linear-gradient(135deg, #38b6ffe1 0%, #fff 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.card .row-mb-3 input[type='checkbox']:checked:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC'),
        linear-gradient(135deg, #38b6ffe1 0%, #fff 100%);
}

.buttonContainer .btn-primary {
    margin: 0px 20px;
}