$bg-color: #fff;

.drop-btn {
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    background-color: $bg-color;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: $bg-color;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5001;
}

.dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
